* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --container-width-lg: 400px;
    --container-width-md: 300px;
    --container-width-sm: 270px;
}
body {
    background: hsl(0, 0%, 98%);
    font-family: "Poppins", sans-serif;
}
main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.intro {
    text-align: center;
    width: 90%;
}
p.heading {
    font-size: 25px;
    font-weight: 300;
    color: hsl(234, 12%, 34%);
}
h1 {
    font-size: 26px;
    color: hsl(234, 12%, 34%);
}
p.subtitle {
    font-size: 14px;
    color: hsl(229, 6%, 66%);
}
.card-box {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  margin: 30px auto;
}
.double_card {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.card {
    width: 300px;
    height: 200px;
    background: #fff;
    border-radius: 7px;
    padding: 25px;
}
.card h2 {
    color: hsl(234, 12%, 34%);
    font-size: 0.85rem;
}
.card p {
    font-size: 12px;
    color: hsl(229, 6%, 66%);
    margin: 15px 0;
}
.card div {
    display: flex;
    justify-content: flex-end;
}
.card img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}
.Karma_card {
    border-top: 3px solid hsl(34, 97%, 64%);
}
.Calculator_card {
    border-top: 3px solid hsl(212, 86%, 64%);
}
.Team_Builder_card {
    border-top: 3px solid hsl(0, 78%, 62%);
}
.Supervisor_card {
    border-top: 3px solid hsl(180, 62%, 55%);
}

/* =========================== MEDIA QUERIES(MEDIUM DEVICES)==============================*/
@media screen and (max-width: 1024px) {
    main {
        margin: 0 auto;
        max-width: 90%;
    }
    .card-box {
        flex-direction: column;
    }


}


/* =========================== MEDIA QUERIES(SMALL DEVICES)==============================*/
@media screen and (max-width: 375px) {
    main {
        max-width: 360px;

    }
    .big_screen {
        display: none;
    }
}